name: Pull actions

on:
  pull_request:

env:
  PYTHON_VERSION: "3.12"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v4.1.2"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
      - uses: "actions/checkout@v4.1.2"
      - uses: "actions/setup-python@v5.1.0"
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: python3 -m pip install black
      - run: black .

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v4.1.2"
      - name: Setup Python
        uses: "actions/setup-python@v5.1.0"
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install requirements
        run: |
          python3 -m pip install -r requirements.txt
      - name: Run tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.intex_spa \
            -o console_output_style=count \
            -p no:sugar \
            tests
